:root {
  --main-color: #2C9EB3;
	--scnd-color: #BF2CB8;
}

@font-face {
  font-family: "VHS";
  src: url("VCR_OSD_MONO_1.001.ttf") format("truetype");
}

html {
  background-color: #0A1A27;
  color: var(--main-color);
  display: block;
  font-family: "VHS";
  height: 100%;
  width: 100%;
}

.center {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
  text-align: center;
  margin: auto;
  width: 40vh;
}

.center__time {
	display: flex;
	flex-flow: column nowrap;
}

.center__clock {
	color: var(--main-color);
	font-family: inherit;
	font-size: 2rem;
	margin: auto 10px;
}

.center__clock--timezone {
	color: var(--scnd-color);
}

figure {
	height: 200px;
}

figure img {
	height: 100%;
}

/*.center img {
		-webkit-animation: rotation 3s infinite linear;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

*/

.center__msg {
  margin: 0;
}

.bookmrks {
  /* | GRID |
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: auto 0;
  width: 100%;
}

.bookmrks__container {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  margin: 0.2em;
  padding: 0.8em;
  height: fit-content;
}

.bookmrks__header {
  color: var(--scnd-color);
  font-size: 1em;
  margin: 0 auto 0.2em auto;
}

.bookmrks__nav {
  display: flex;
  flex-flow: column;
}

.bookmrks__ico {
	height: 0.9em;
	margin-right: 0.2em;
}

.bookmrks__link {
  color: var(--main-color);
  text-decoration: none;
  text-transform: uppercase;
  width: fit-content;
}
