:root {
	--back-color: #031422;
	--main-color: #2C9EB3;
	--scnd-color: #BF2CB8;
}

@font-face {
	font-family: "VHS";
	src: url("VCR_OSD_MONO_1.001.ttf") format("truetype");
}

html {
	background-color: var(--back-color);
	color: var(--main-color);
	display: block;
	font-family: "VHS";
	font-size: calc(0.8em + 0.8vh);
	height: 100%;
	width: 100%;
}

.center {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	text-align: center;
	margin: auto;
	width: 100%;
}

.center__time {
	display: flex;
	flex-flow: column nowrap;
	flex-grow: 1;
	margin: auto;
}

.center__clock {
	color: var(--main-color);
	font-family: inherit;
	font-size: 2rem;
}

.center__clock--timezone {
	color: var(--scnd-color);
}

.center__clock--time {
	color: var(--main-color);
}

figure {
	flex-grow: 1;
	margin: auto;
}

.calc__container {
	flex-grow: 1;
	margin: auto;
}

.calc__form, .calc__table {
	margin: auto;
}

.calc__row input {
	background-color: rgba(0, 0, 0, 0.5);
	border: 2px solid var(--main-color);
	border-radius: 0.3em;
	color: var(--main-color);
	font-family: "VHS";
	font-size: 1em;
	font-weight: bold;
	padding: 0.9em;
	text-align: center;
	transition: 0.2s;
}

.calc__row input:focus, input:hover {
	border: 2px solid var(--scnd-color);
	outline: none;
}

.calc__row th {
	color: var(--scnd-color);
}

/*.center img {
		-webkit-animation: rotation 3s infinite linear;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

*/

.center__msg {
	margin: 0;
}

.bookmrks {
	/* | GRID |
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 5px;
	*/
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: auto 0;
	width: 100%;
}

.bookmrks__container {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 2px;
	box-shadow: 0 0 0 2px var(--main-color);
	display: flex;
	flex: 0 0 auto;
	flex-direction: column;
	margin: 0.4em;
	padding: 0.6em;
	height: max-content;
}

.bookmrks__header {
	color: var(--scnd-color);
	font-size: 1em;
	margin: 0 auto 0.2em auto;
}

.bookmrks__nav {
	display: flex;
	flex-flow: column;
}

.bookmrks__ico {
	height: 0.9em;
	margin-right: 0.2em;
}

.bookmrks__link {
	color: var(--main-color);
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.2s;
	width: max-content;
}

.bookmrks__link:hover {
	color: var(--scnd-color);
}

/* damnit */
